#menu {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	left: 40%;
	float: left;
	background: #000;
}

#menu li {
	margin: 0;
	padding: 0;
	float: left;
	border-right: 1px solid #999;
}

#menu li a {
	padding: 10px 15px;
	display: block;
	color: #fff;
	text-decoration: none;
}

#menu li ul {
	margin: 0;
	padding: 15px 0;
	list-style: none;
	float: left;
	position: absolute;
	left: 0;
	width: 500px;
	color: #fff;
	background: #06c url('bottom.gif') no-repeat bottom;
	display: none;
}

#menu li ul li {
	border-right: 1px solid #fff;
}

#menu li ul li a {
	display: inline;
}

#menu li ul li a:hover {
	text-decoration: underline;
}